$color-active: #57b846;
$text-bg-color: #fff;

.display {
  display: flex;
  align-items: center;
  flex-direction:column;
  margin-top: 20%;
  .email, .password {
    font-size: 24px;
    line-height: 2;
  }
  .success {
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 35px;
    background-color: $color-active;
    color:  $text-bg-color;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin: 20px 35%;
  }

}
