<div class="home">
  <div class="header" [ngSwitch]="nav">
    <div class="header-title" *ngSwitchCase="'login'">
      Login
    </div>
    <div class="header-title" *ngSwitchCase="'registration'">
      Registration
    </div>
    <div *ngDefaultCase></div>
  </div>
  <div class="nav">
    <p class="nav-button" [ngClass]="{'nav-button-active': active === 'login'}" (click)="setValue('login','login')">Login</p>
    <p class="nav-button" [ngClass]="{'nav-button-active': active === 'registration'}" (click)="setValue('registration', 'registration')">Registration</p>
  </div>
  <div class="body" [ngSwitch]="nav">
    <div class="body1" *ngSwitchCase="'login'">
      <form novalidate  [formGroup]="loginForm"  (ngSubmit)="login()">
        <div class="form_div">
          <label class="form_label em">Email</label>
          <input class="form_input" type="text" formControlName="email" placeholder="Enter Email"/>
          <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert">
            <div *ngIf="loginForm.controls['email'].errors.required">
              Email is required.
            </div>
          </div>
        </div>
        <div class="form_div">
          <label class="form_label">Password</label>
          <input class="form_input" type="password"  formControlName="password" placeholder="Enter Password"/>
          <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert">
            <div *ngIf="loginForm.controls['password'].errors.required">
              Password is required.
            </div>
          </div>
        </div>

      </form>
      <button (click)="login()">Login</button>

    </div>
    <div class="body1" *ngSwitchCase="'registration'">
      <form novalidate [formGroup]="registerForm" (ngSubmit)="registr()">
        <div class="form_div">
          <label class="form_label">First Name</label>
          <input class="form_input" type="text" formControlName="firstname" placeholder="Enter First Name"/>
          <div *ngIf="registerForm.controls['firstname'].invalid && (registerForm.controls['firstname'].dirty || registerForm.controls['firstname'].touched)" class="alert-danger">
            <div *ngIf="registerForm.controls['firstname'].errors.required">
              First Name is required.
            </div>
          </div>
        </div>
        <div class="form_div">
          <label class="form_label">Last Name</label>
          <input class="form_input" type="text"  formControlName="lastname" placeholder="Enter Last Name"/>
          <div *ngIf="registerForm.controls['lastname'].invalid && (registerForm.controls['lastname'].dirty || registerForm.controls['lastname'].touched)" class="alert-danger">
            <div *ngIf="registerForm.controls['lastname'].errors.required">
              Last Name is required.
            </div>
          </div>
        </div>
        <div class="form_div">
          <label class="form_label em2">Email</label>
          <input class="form_input" type="text" formControlName="email"  placeholder="Enter Email"/>
          <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="alert-danger">
            <div *ngIf="registerForm.controls['email'].errors.required">
              Email is required.
            </div>
          </div>
        </div>
        <div class="form_div">
          <label class="form_label em3">Password</label>
          <input class="form_input" type="password"  formControlName="password" placeholder="Enter Password"/>
          <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm .controls['password'].touched)" class="alert-danger">
            <div *ngIf="registerForm.controls['password'].errors.required">
              Password is required.
            </div>
          </div>
        </div>
      </form>
      <button (click)="registr()">Registration</button>

    </div>
    <div *ngDefaultCase></div>
  </div>
</div>
